*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    }
    
    .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(imeges/bgpic.jpg);
    background-position: center;
    background-size: cover;
    padding-left:8% ;
    padding-right: 8%;
    box-sizing: border-box;
    }
    .navbar{
height: 12%;
display: flex;
align-items: center;
    }
    .container h1{
        font-size: 80px;
        color: white;
        font-weight: 600;
        transition: 0.5s;
        }
        .container h1:hover{
        -webkit-text-stroke: 2px white;
        color: transparent;
        }
    
    .logo{
width: 100px;
cursor: pointer;

    }
    
    .menu-icon{
width: 30px;
cursor: pointer;
margin-left: 40px;
    }
    
    nav{
flex: 1;
text-align: right;

    }
    
    nav ul li{

list-style: none;
display: inline-block;
margin-left: 60px;
    }
    
    nav ul li a{
text-decoration: none;
color: white;
font-size: 13px;

    }
    
    .row{
display:flex;
height: 88%;
align-items: center;
    }
    
    .col{
        flex-basis: 50%;
    }
    
    h1{
        color: white;
        font-size: 100px;
       
    }
    
    p{
        color: white;
        font-size: 11px;
        line-height: 15px;
    }
    
    button{
width: 180px;
color: black;
font-size: 12px;
padding: 12px 0;
background: white;
border: 0;
border-radius: 20px;
outline: none;
margin-top: 30px;
    }
     
    .card{
        width: 300px;
        height: 330px;
        display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 15px;
background-image: url(imeges/1stpic.jpg);
background-position: center;
background-size: cover;
transition: transform 0.5s;
    }
    .card1
    {
        background-image: url(imeges/1stpic.jpg);
    }

    .card2
    {
        background-image: url(imeges/2ndpic.jpg);
    } 
    
    .card3
    {
        background-image: url(imeges/3rdpoc.jpg);
    }
    
    .card4
    {
        background-image: url(imeges/4thpic\.jpg);
    }
    .card:hover{
        transform: translateY(-10px);
    }
    
    h5{
color: white;
text-shadow: 0 0 5px #999;

    }
    
    .card p {
        text-shadow: 0 0 15px #000;
        font: size 8px; 
    }
    
    @media(min-aspect-ratio:16/9){
        .back-video{
        width: 100%;
        height: auto;
        }
        }
        
        @media(max-aspect-ratio:16/9){
            .back-video{
            width: auto;
            height: 100%;
            }
            }
    
    
    
    
    